.customCard {
  color: rgb(225, 221, 221);
  flex-direction: row !important;
  width: 90%;
  background: #131e33 !important;
  margin-bottom: 1rem;
  border: .1rem solid rgb(225, 221, 221) !important;
  }

.pagesHeader {
  background: #282c34 !important;
  color: rgb(225, 221, 221);
  text-align: center;
  font-family: "Rockwell", Rockwell;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  
}

.ArticlesPage {
  background: #282c34 !important;
}

.TweetsPage {
  background-color: #282c34;
  
}

.TrendsPage {
  background-color: #282c34;
  
}

.TweetsPageBody {
  background: #282c34 !important;
  columns: 3;  
  width: 95%;
  margin: auto;
}

.TrendsPageBody {
  background: #282c34 !important;
  columns: 3;  
  width: 95%;
  margin: auto;
}


.customLink:link {
  color: rgb(225, 221, 221);
  text-decoration: none;
}

.customLink:visited {
  color: rgb(225, 221, 221);
  text-decoration: none;
}

.customLink:hover {
  color: rgb(225, 221, 221);
  text-decoration: none;
}

.customLink:active {
  color: rgb(225, 221, 221);
  text-decoration: none;
}

.TweetsPageBody {
  background-color: #282c34;
  min-height: 100vh;
  columns: 3;
}

.trendsCard {
  color: rgb(225, 221, 221);
  flex-direction: row !important;
  width: 95%;
  background: #131e33 !important;
  margin-bottom: .2rem;
  border: .1rem solid rgb(225, 221, 221) !important;
  }
