.customCard {
  color: rgb(225, 221, 221);
  flex-direction: row !important;
  width: 90%;
  background: #131e33 !important;
  margin-bottom: 1rem;
  border: .1rem solid rgb(225, 221, 221) !important;
  }

.pagesHeader {
  color: rgb(225, 221, 221);
  text-align: center;
  font-family: "Goudy Old Style", "Goudy Old Style";
  font-weight: bold;
  font-size: 2.5rem;
  
}

.ArticlesPage {
  background-image: linear-gradient(to right top, #000000, #1f0513, #300626, #3d043f, #3f0c5f, #3f1270, #3c1982, #322195, #441e97, #531a99, #61149a, #6f0b9b);
}

.TweetsPage {
  background-image: linear-gradient(to right top, #000000, #1f0513, #300626, #3d043f, #3f0c5f, #3f1270, #3c1982, #322195, #441e97, #531a99, #61149a, #6f0b9b);
  
}

.TrendsPage {
  background-image: linear-gradient(to right top, #000000, #1f0513, #300626, #3d043f, #3f0c5f, #3f1270, #3c1982, #322195, #441e97, #531a99, #61149a, #6f0b9b);
  
}

.TweetsPageBody {
  columns: 3;  
  width: 95%;
  margin: auto;
}

.TrendsPageBody {
  columns: 3;  
  width: 95%;
  margin: auto;
  margin-top: 1rem
}


.customLink:link {
  color: rgb(225, 221, 221);
  text-decoration: none;
}

.customLink:visited {
  color: rgb(225, 221, 221);
  text-decoration: none;
}

.customLink:hover {
  color: rgb(225, 221, 221);
  text-decoration: none;
}

.customLink:active {
  color: rgb(225, 221, 221);
  text-decoration: none;
}

.TweetsPageBody {
  min-height: 100vh;
  columns: 3;
}

.trendsCard {
  color: rgb(225, 221, 221);
  flex-direction: row !important;
  width: 92%;
  background: #131e33 !important;
  margin-bottom: .2rem;
  border: .1rem solid rgb(225, 221, 221) !important;
  }

  .postSubmitHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.PostSubmitPage {
  background-image: linear-gradient(to right top, #000000, #1f0513, #300626, #3d043f, #3f0c5f, #3f1270, #3c1982, #322195, #441e97, #531a99, #61149a, #6f0b9b);
  min-height: 100vh
}

