.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-animation infinite 1s ease alternate;
  }
}

.App-header {
  background-image: linear-gradient(to right top, #000000, #1f0513, #300626, #3d043f, #3f0c5f, #3f1270, #3c1982, #322195, #441e97, #531a99, #61149a, #6f0b9b);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-animation {
  100% {transform: scale(1.1,1.1)}
}
